body {
  background-color: gold;
}

h1 {
  font-family: fantasy;
  font-size: 50px;
  color: red;
}

h2 {
  color: black;
  font-weight: bolder;
  font-family: times;
}

img {
  max-width: 100%;
  height: auto;

}

p {
  text-align: center;
  font-family: serif;;
  font-size: 30px;
  color: blue;
}

strong{
  font-size: 30px;
  font-family: sans-serif;
}

button {

}
/*.ad img {
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 20%;
  margin-right: 20%;
}*/



#ruby, #sharp, #design, #drupal {
  display: none;
  width: 500px;
}
